<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main_layout}"
>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>403</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
<article layout:fragment="content">
  <error-page>
    <error-code>ERROR 403</error-code>
  </error-page>
<h2>Bạn phải được cấp quyền để sử dụng tính năng này </h2>
  <div class="card-footer text-muted">

    <a th:href="@{/admin/departments}" class="btn btn-success">Quay lại</a>
  </div>
</article>
</body>
</html>